/*
   johnfrench.xyz
   Custom Styles
*/
// Font Import
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Nunito:300);
@import url('../fonts/foundation-icons/foundation-icons.css');
// Color Variables:
$jf-red: rgba(163, 11, 55, 0.71);
$jf-light-red: #BD6B73;
$jf-purple: #BBB6DF;
$jf-light-purple: #C6C8EE;
$jf-white: #fff;
$jf-dark-gray: #444444;
$jf-light-gray: lighten($jf-dark-gray, 30%);
$jf-very-light-gray: lighten($jf-light-gray, 37%);
$jf-bg: #F9F9F9;
$jf-portfolio-color: #ed4f4f;

// Typography
//-----------
h1 {
   color: $jf-light-gray;
   font-size: rem-calc(18);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
   font-family: Montserrat, Helvetica, sans-serif;
}
// Template
//---------
header {
   background: $jf-bg;
   width: 100%;
   position: fixed;
   top: 0;
   left: 0;
   margin-bottom: 0;
   padding: 1em;
   box-shadow: 0 6px 6px -6px $jf-light-gray;
   z-index: 20;
   h1 {
      float: left;
      margin-left: 1em;
      vertical-align: middle;
   }
   .hamburger-icon {
      margin-top: 2px;
      float: left;
      vertical-align: middle;
      color: $jf-light-gray;
   }
}
nav {
   z-index: 10;
   display: none;
   position: fixed;
   top: 0;
   margin-top: 58px;
   background: $jf-very-light-gray;
   width: 100%;
   height: auto;
   // border-bottom: solid 1px lighten($jf-light-gray, 25%);
   overflow: scroll;
   ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      // padding-top: 3.5em;
      transition: 200ms ease;
      li {
         float: left;
         @include breakpoint(small only) {
            float: none;
         }
      }
      li a {
         font-family: Nunito, sans-serif;
         text-transform: uppercase;
         letter-spacing: 2px;
         font-size: rem-calc(12);
         color: $jf-dark-gray;
         display: block;
         text-align: center;
         padding: 1.5em;
         transition: 250ms ease;
         i {
            display: block !important;
            text-align: center;
         }
      }
      li a:hover {
         background: $jf-dark-gray;
         color: $jf-very-light-gray;
      }
   }
}
main {
   padding-top: 5em;
   min-height: 100%;
   margin-bottom: -80px;
   &:after {
      content: "";
      display: block;
   }
}

.call-to-action {
   h2 {
      padding-top: 10%;
      font-size: rem-calc(48);
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 5px;
      color: white;
      text-align: center;
      transition: 250ms ease;
      // For Small
      @include breakpoint(small only) { font-size: rem-calc(24); }
   }
}

@mixin block-link ($float, $background, $color, $hover-bg, $hover-color) {
   margin-top: 2em;
   padding: 1em;
   background: $background;
   color: $color;
   display: block;
   width: 40%;
   transition: 250ms ease;
   font-weight: 700;
   text-transform: uppercase;
   float: $float;
   // Small Screen Size
   @include breakpoint(small only) { width: 80%; }
   &:hover {
      padding-left: 2em;
      background: $hover-bg;
      color: $hover-color;
   }
}

#viewMyPortfolio {
   @include block-link (left, $jf-dark-gray, $jf-very-light-gray, $jf-portfolio-color, $jf-very-light-gray);
}

#viewMyResume {
   @include block-link (right, $jf-dark-gray, $jf-very-light-gray, $jf-very-light-gray, $jf-dark-gray);
   @include breakpoint(medium up) { margin-top: 7em; }
   margin-top: 2em;
}

#contactMe {
   @include block-link (left, $jf-dark-gray, $jf-very-light-gray, $jf-very-light-gray, $jf-dark-gray);
   @include breakpoint(medium up) { margin-top: 7em; }
   margin-top: 2em;
}

footer, main:after { height: 80px; }

footer {
   margin-top: 2em;
   background: $jf-very-light-gray;
   a {
      margin:0;
      font-weight: 700;
      text-transform: uppercase;
      color: $jf-dark-gray;
      display: inline-block;
      height: 80px;
      padding: 30px;
      transition: 250ms ease;
      &:hover { background: $jf-dark-gray; color: $jf-very-light-gray; }
   }
}

// Portfolio
//----------
.portfolio-header {
   background: $jf-portfolio-color;
   margin-top: -20px;
   color: $jf-white;
   text-align: center;
   i {
      padding-top: 7%;
      font-size: rem-calc(48);
      transition: 250ms ease;
      @include breakpoint(small only) { font-size: rem-calc(24); }
   }
   h2 {
      font-size: rem-calc(48);
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 5px;
      transition: 250ms ease;
      // For Small
      @include breakpoint(small only) { font-size: rem-calc(24); }
   }
}

// Portfolio Sections & Categories
.portfolio-section {
   transition: 250ms ease;
   width: 100%;
   margin-top: 50px;
   @include breakpoint(small only) { text-align: center; }
   // Section Title
   .title {
      color: $jf-portfolio-color;
      font-size: rem-calc(24);
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 5px;
      transition: 250ms ease;
      @include breakpoint(small only) { font-size: rem-calc(18); }
   }
   // Portfolio Item
   .portfolio-item {
      width: 100%;
      // Portfolio Item Header
      .portfolio-item-header {
         width: 100%;
         margin-top: 1em;
         padding: 1em;
         background: $jf-very-light-gray;
         color: $jf-dark-gray;
         display: block;
         font-weight: bold;
         transition: 250ms ease;
         text-align: left;
         vertical-align: middle;
         @include breakpoint(small only) { font-size: rem-calc(13); }
         i { float: right; }
         &:hover {
            background: $jf-dark-gray;
            color: $jf-very-light-gray;
         }
      }
      // Portfolio Item Body
      .portfolio-item-body {
         display: none;
         background: $jf-very-light-gray;
         padding: 1em 1em 0 1em;
         overflow: auto;
         text-align: left;
         @include breakpoint(small only) { font-size: rem-calc(13); }
         .note {
            margin-top: 1em;
            font-size: rem-calc(13);
            font-weight: bold;
            color: $jf-portfolio-color;
         }
      }
      // Portfolio Icon Container (For Github & Direct Link)
      .icons {
         margin: 32px -32px -16px -16px !important;
         @mixin icon() {
            text-align: center;
            background: darken($jf-very-light-gray, 5%);
            width: 50%;
            float: left;
            position: inline-block;
            transition: 250ms ease;
            height: 50px;
            vertical-align: middle;
            color: $jf-portfolio-color;
            i { font-size: rem-calc(36); vertical-align: middle; }
            &:hover {
               background: $jf-dark-gray;
               color: $jf-very-light-gray;
            }
         }
         .github {
            @include icon();
            border-right: solid 1px darken($jf-very-light-gray, 10%);
         }
         .github-disabled {
            @include icon();
            color: darken($jf-very-light-gray, 15%);
            cursor: default;
            border-right: solid 1px darken($jf-very-light-gray, 15%);
            &:hover {
               background: darken($jf-very-light-gray, 5%);
               color: darken($jf-very-light-gray, 15%);
            }
         }
         .link {
            padding-top: 7px;
            @include icon();
            border-right: solid 1px darken($jf-very-light-gray, 10%);
         }
         .disabled {
            cursor: default;
            &:hover {  }
         }
      }
   }


}
