/*
   johnfrench.xyz
   Custom Styles
*/

// Font Import
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Nunito:300);

// Color Variables:
$jf-red: rgba(163, 11, 55, 0.71);
$jf-light-red: #BD6B73;
$jf-purple: #BBB6DF;
$jf-light-purple: #C6C8EE;
$jf-white: #eeeeee;
$jf-dark-gray: #444444;
$jf-light-gray: lighten($jf-dark-gray, 30%);
$jf-bg: #F9F9F9;

// Typography
//-----------
h1 { color: $jf-light-gray; font-size: rem-calc(18); }

h1, h2, h3, h4, h5, h6, p {
   font-family: Montserrat, Helvetica, sans-serif;
}


// Template
//---------
body {
   background: $jf-bg;
}

header {
   background: $jf-bg;
   width: 100%;
   position: fixed;
   top: 0;
   left: 0;
   margin-bottom: 0px;
   padding: 1em;
   box-shadow:  0 6px 6px -6px $jf-light-gray;
   z-index: 20;
   h1 { float: left; margin-left: 2em; line-height: 1em; }
   .hamburger-icon {
      float: left;
      line-height: 1em;
      color: $jf-light-gray;
   }
}

nav {
   z-index: 10;
   display: none;
   position: fixed;
   top: 0;
   margin-top: 58px;
   background: lighten($jf-light-gray, 37%);
   width: 100%;
   height: auto;
   border-bottom: solid 1px lighten($jf-light-gray, 25%);
   ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      // padding-top: 3.5em;
      transition: 200ms ease;
      li { float: left; @include breakpoint (small only) { float: none; } }
      li a {
         font-family: Nunito, sans-serif;
         text-transform: uppercase;
         letter-spacing: 2px;
         font-size: rem-calc(12);
         color: $jf-dark-gray;
         display: block;
         text-align: center;
         padding: 1.5em;
         transition: 250ms ease;
         i { display: block !important; text-align: center; }
      }
      li a:hover { background: $jf-red; color: white; }
   }
}

main { margin-top: 5em; }

.call-to-action {
   margin-top: 50px;
   text-align: center;

   h2 {
      font-size: rem-calc(48);
      text-transform: uppercase;
      letter-spacing: 4px;
      margin-bottom: -15px;
   }
   hr {
      width: 500px;
      height: 15px;
      border: 0;
      box-shadow:  0 6px 6px -6px $jf-light-gray;
   }
}
