// Global Colors
//--------------
$tan: #EFE8E4;
$light-gray: #B9B9B9;
$dark-gray: #50514F;
$red: #E85E5B;
$white: #ffffff;
$black: #50514F;

// Media Queries
//--------------
$phone: "only screen and (max-width : 640px )";
$tablet: "only screen and (max-width : 1024px )";
$desktop: "only screen and (max-width : 1440px )";

.show-for-medium-up {
   display: none;
   @media screen and (min-width: 40em) {
      display: block;
   }
}

.show-for-small-only {
   display: none;
   @media screen and (max-width: 39.9375em) {
      display: block;
   }
}

// Typography
//-----------

// Pier
@font-face {
   font-family: 'Pier';
   src: url('../fonts/pier-regular.otf');
}
$pier: 'Pier', sans-serif;

// Pier Bold
@font-face {
   font-family: 'Pier Bold';
   src: url('../fonts/pier-bold.otf');
}
$pier-bold: 'Pier Bold', sans-serif;

// Moon
@font-face {
   font-family: 'Moon';
   src: url('../fonts/moon.otf');
}
$moon: 'Moon', sans-serif;

// Roboto Light & Regular
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);
$roboto: 'Roboto', sans-serif;
.regular {
   font-weight: 400;
}

// Global Settings
//----------------
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  background: $tan;
  color: $dark-gray;
}
h1 {
   font-family: 'Pier Bold', sans-serif;
}
p {
   font-family: 'Moon', sans-serif;
}

a {
   color: $dark-gray;
}

// Navigation
//-----------
nav {
   width: 100%;
   background: $white;
   height: 42px;
   position: fixed;
   top: 0;
   left: 0;
   text-align: center;
   z-index: 100;
   // Nav Items:
   ul {
      position: relative;
      list-style-type: none;
      li {
         display: inline;
         a {
            font-family: $pier;
            font-size: 9pt;
            text-transform: uppercase;
            text-decoration: none;
            letter-spacing: 3px;
            line-height: 42px;
            padding: 0 5% 0 5%;
            // For Medium:
            @media #{$tablet} {
               padding-left: 3%;
               padding-right: 3%;
            }
            display: inline-block;
            background: $white;
            transition: 150ms ease;
            &:hover {
               color: $red;
            }
         }
      }
   }
}

// Small Screen Menu Bar
.toggle-overlay {
   font-family: $pier;
   font-size: 10pt;
   text-transform: uppercase;
   text-decoration: none;
   letter-spacing: 3px;
   padding: 0;
   z-index: 4;
   position: relative;
   background: $white;
   text-align: center;
   span {
      line-height: 42px;
      width: 100%;
   }
   i {
      line-height: 42px;
      position: absolute;
      top: 0;
      right: 10px;
   }
}
// Small Screen Nav Container
.small-nav-container {
   position: fixed;
	width: 100%;
	height: calc(100% - 42px);
	top: -100%;
	left: 0;
   bottom: 0;
	background: $white;
   display: flex;
   text-align: center;
   align-items: center;
   transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
   -webkit-transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
   transform-style: flat;
   z-index: -1;
   &.is-open {
      top:42px;
   }
   ul {
      margin: -42px auto 0 auto;
		padding: 0;
		list-style: none;
      li {
         align-items: center;
         &:last-child a::after {
            display: none;
         }
         a {
            font-size: 1em;
				display: block;
            &::after {
               content: "";
               height: 1px;
               width: 200px;
               background: lighten($dark-gray, 40%);
               display: block;
               margin: 2em auto 1em auto;
            }
         }
      }
   }
}

// Section Styles
//---------------

// Homepage Titles
.homepage-title-section {
   // Page Title
   h1 {
      font-family: $pier-bold;
      font-size: 15pt;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 10px;
      transition: 250ms ease;
      // margin-top: 100px;
      // For Small:
      @media #{$phone} {
         font-size: 13pt;
      }
   }
   // Subtitle
   span {
      font-family: $pier;
      font-size: 12pt;
      letter-spacing: 2px;
      text-transform: uppercase;
      text-align: center;
      color: $dark-gray;
      display: block;
      transition: 250ms ease;
      // For Small:
      @media #{$phone} {
         font-size: 10pt;
      }
   }
}

// Homepage Code Container
.code-container {
   font-family: 'Hack', monospace;
   border: 2px solid $light-gray;
   // Desktop Width:
   width: 50%;
   // Tablet Width:
   @media #{$tablet}{
      width: 75%;
   }
   // Phone Width:
   @media #{$phone}{
      width: 95%;
      margin-top: 30%;
   }
   margin: 3em auto 3em auto;
   .code-header {
      padding: .5em 0 .5em .5em;
      height: 2em;
      border-bottom: 2px solid $light-gray;
      .circle {
         display: inline-block;
         width: 15px;
         height: 15px;
         border-radius: 50%;
         border: 2px solid $light-gray;
      }
   }
   .code-body {
      .custom-counter li {
         counter-increment: step-counter;
      }
      .custom-counter li::before {
         content: counter(step-counter) ".";
         margin-right: 15px;
         color: $light-gray;
      }
      ol {
         list-style: none;
         margin: 1em .1em 1em 1em;
      }
      ol li {
         font-size: 1em;
         color: #50514F;
         overflow: hidden;
         white-space: nowrap;
         @media #{$phone} {
            font-size: .7em;
         }
      }
   }
}



main {
   margin-top: calc(5em + 42px);
}


// Horizontal Rule
hr {
   width: 200px;
   height: 1px;
   border: 0;
   border-top: 1px solid lighten($dark-gray, 40%);
   margin: 2em auto 2em auto;
}

.section-heading {
   font-family: $pier-bold;
   text-rendering: optimizeLegibility;
   font-size: 100pt;
   color: $dark-gray;
   text-transform: uppercase;
   display: block;
   margin-bottom: -30px;
}

.section-subtitle {
   font-family: $pier;
   font-size: 12pt;
   letter-spacing: 2px;
   text-transform: uppercase;
   text-align: center;
   color: $dark-gray;
   display: block;
   transition: 250ms ease;
   // For Small:
   @media #{$phone} {
      font-size: 10pt;
   }
}



// About Section
//--------------
@mixin sectionWidth {
   // For Large:
   width: 40%;
   max-width: 500px;
   // For Medium:
   @media #{$tablet}{
      width: 50%;
   }
   // For Small:
   @media #{$phone}{
      width: 90%;
      max-width: 800px;
   }
}


.about-container {
   text-align: center;
}
.big-number {
   font-family: $pier-bold;
   font-size: 39pt;
   display: block;
}
.about-section {
   @include sectionWidth;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
   .highlight {
      color: $red;
   }
   .title {
      font-family: $pier-bold;
      font-size: 15pt;
      letter-spacing: 3px;
      text-transform: uppercase;
      display: block;
      margin: 1em 0 1em 0;
      // For Small:
      @media #{$phone}{
         font-size: 13pt;
      }
   }
   .description {
      font-family: $roboto;
      font-weight: 300;
      font-size: 16pt;
      margin-bottom: 2em;
      // For Small:
      @media #{$phone}{
         font-size: 13pt;
      }
   }
}

// UI Design Section
//------------------
// UI Drawing
$shadow: 0 2px 5px rgba(0,0,0,0.19), 12px 6px 3px rgba(0,0,0,0.15);

.ui-drawing {
	width: 100%;
   overflow-x: hidden;
   // Extra Large Screen Size
   margin-top: -20%;
   // Desktop Screen Size
   @media #{$desktop}{
      margin-top: -25%;
   }
   // Tablet Screen Size
   @media #{$tablet}{
      margin-top: -55%;
      margin-bottom: -5em;
   }
   // Phone Screen Size
   @media #{$phone}{
      margin-top: -65%;
      margin-bottom: -5em;
   }
}

.top-page {
	background: $white;
	width: 25%;
	box-shadow: $shadow;
	transform: skew(-25deg, 10deg) translateX(180%) translateY(-40%);
	// Transforms
	@media #{$tablet} {
		margin-top: 20%;
		width: 30%;
		transform: skew(-25deg, 10deg) translateX(110%) translateY(-70%);
	}
	@media #{$phone} {
		width: 35%;
		transform: skew(-25deg, 10deg) translateX(40%) translateY(-70%);
	}
	&:before {
		content: "";
    display: block;
    padding-top: 130%;
	}
}

.bottom-page {
	// Styles
	background: darken($white, 5%);
	box-shadow: $shadow;
	width: 30%;
	// Transforms
	@media #{$tablet} {
		margin-top: 20%;
		width: 40%;
		transform: skew(120deg, 15deg) translateX(200%);
	}
	@media #{$phone} {
		margin-top: 40%;
		width: 45%;
		transform: skew(120deg, 15deg) translateX(150%);
	}
	transform: skew(120deg, 15deg) translateX(250%);
	&:before {
		content: "";
    display: block;
    padding-top: 120%;
	}
}


.ui-design {
   @include sectionWidth();
   margin-left: auto;
   margin-right: auto;
   margin-top: 10em;
   text-align: center;
   p {
      font-family: $moon;
      margin: 2em 0 2em 0;
      font-size: 16pt;
      letter-spacing: 3px;
      // For Small:
      @media #{$phone}{
         font-size: 13pt;
      }
   }
}

// Case Study
.case-study {
   text-align: left;
   margin: 0 auto 1em auto;
   width: 100%;
   @media #{$tablet} {
      width: 90%;
   }
	max-width: 800px;
   font-family: $pier-bold;
   font-size: 1.5em;
   @media #{$phone} {
      font-size: 1em;
   }
   text-transform: uppercase;
   letter-spacing: 3px;
   color: $dark-gray;
}




// UX Design Section
//------------------











// Portfolio
//----------

// Portfolio Cards
$card-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
.card {
	width: 100%;
	max-width: 800px;
   @media #{$tablet} {
      width: 90%;
   }
   background: $white;
	margin: 0 auto 0 auto;
	box-shadow: $card-shadow;
	// Card Image & Caption
	figure {
		margin: 0;
		position: relative;
	}
	figure img {
		width: 100%;
		height: auto;
	}
	figure figcaption {
		color: $white;
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 1em;
		font-size: rem-calc(24);
		font-family: $pier-bold;
		text-transform: uppercase;
		letter-spacing: 3px;
	}
	// Card Body
	.card-body {
		padding: 1em;
		margin: 0 0 1em 0;
		font-family: $roboto;
		font-weight: 300;
	}
	// Card Button
	.card-button {
		display: block;
		width: 100%;
		padding: 1em 0 1em 0;
		border-top: 1px solid $light-gray;
		text-align: center;
		font-size: .8em;
		font-family: $pier;
		text-transform: uppercase;
		letter-spacing: 3px;
		color: $dark-gray;
		text-decoration: none;
		transition: 250ms ease;
		// Hover State
		&:hover {
			background: $red;
			color: $white;
		}
	}
}
