<footer class="site-footer">
   <ul>
      <li>
         <a href="{{site.baseurl}}/portfolio.html">
            <i class="material-icons">work</i>
            <span>View My Portfolio</span>
         </a>
      </li>
      <li>
         <a href="mailto:hello@johnfrench.xyz">
            <i class="material-icons">mail</i>
            <span>Send Me an Email</span>
         </a>
      </li>
   </ul>
   <div class="social-section">
      <ul>
         <li><a href="http://twitter.com/johnfrenchxyz"><i class="fi-social-twitter"></i></a></li>
         <li><a href="https://github.com/johnfrenchxyz"><i class="fi-social-github"></i></a></li>
      </ul>
   </div>
</footer>
