<header class="site-header">

    <nav class="site-nav">
      <!-- Large Screen Menu -->
      <ul class="large-nav show-for-medium-up">
         <li><a href="{{ site.baseurl }}/index.html#designAnchor">Design</a></li>
         <li><a href="{{ site.baseurl }}/index.html#devAnchor">Development</a></li>
         <li><a href="{{ site.baseurl }}/portfolio.html">Portfolio</a></li>
         <li><a href="{{ site.baseurl }}/blog.html">Blog</a></li>
         <li><a href="{{ site.baseurl }}/contact.html">Contact</a></li>
      </ul>
      <!-- Small Screen Menu -->
      <a href="#" class="show-for-small-only toggle-overlay">
         <span>Menu</span>
         <!-- Expand Icon. -->
         <i class="material-icons toggle-arrow">expand_more</i>
      </a>
      <div class="small-nav-container show-for-small-only">
         <ul class="">
            <li><a href="{{ site.baseurl }}/index.html#designAnchor">Design</a></li>
            <li><a href="{{ site.baseurl }}/index.html#devAnchor">Development</a></li>
            <li><a href="{{ site.baseurl }}/portfolio.html">Portfolio</a></li>
            <li><a href="{{ site.baseurl }}/blog.html">Blog</a></li>
            <li><a href="{{ site.baseurl }}/contact.html">Contact</a></li>
         </ul>
      </div>
    </nav>

</header>
