<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

     <!--
       ~~~~~~~~~~~~~~~~~~~~~~~~~~~
       *****  *****  ***  ********
       *****  *****  ***  ********
       *****  *****  ***  ********
       *****  *****  ***  ********
       *****         ***  ********
       *****  *****  ***  ********
       *****  *****  ***  ********
       *****  *****  ***  ********
       *****  *****  ***  ********
       ~~~~~~~~~~~~~~~~~~~~~~~~~~~
       Hello, interested person or potential employer!
       I put this little message here to let you know
       that I care about the little things, I like to
       work hard, but I also don't take myself too seriously.
       If you are interested in working with me, or finding
       out more about what I do, shoot me an email at
       hello[at]johnfrench[dot]xyz
     -->


    {% include header.html %}

    <div class="page-content">
        {{ content }}
    </div>

    {% include footer.html %}

    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    <script src="js/app.js"></script> 

  </body>

</html>
